<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        *{
            padding:0;
            margin:0;
            {{!-- font-family: sans-serif; --}}
            font-family: cursive;
        }

        body{
            background-image: url("./Images/background.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .delivery{
            position: absolute;
            margin-left: 32vw;
            margin-right: 20vw;
            {{!-- top:50%; --}}
            {{!-- left: 40vw; --}}
            {{!-- transform: translate(-50%,-50%); --}}
            
        }

        .delivery h1{
            font-size: 2.5rem;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
            margin-top: 1vw;
        }

        .delivery p{
            font-size:1.3rem;
            margin-top: 0.7rem;
            margin-bottom: 0.5rem;
            font-weight: 600;
        }
        .delivery input{
            font-size: 1rem;
            padding: 0.8rem 0.7vw;
            width: 100%;
            border:0;
            border-radius:0.8rem;
            outline:none
        }

        .delivery button{
            font-size: 1.2rem;
            font-weight: bold;
            margin:1.2rem 0;
            padding :0.5rem 1rem;
            width: 30%;
            border-radius: 1rem;
            border: 0;
        }

        .delivery button:hover{
            background-color: aqua;
        }

        a{
            text-decoration: none;
            color: rgb(15, 0, 128);
        }

        a:hover{
            color:black
        }
        
    </style>
</head>
<body>

    {{!-- <script>

        const foodName=require("./menu.hbs");

        let input=document.querySelector("input");
        input.addEventListener("click",function(){
            console.log(foodName);
        })

    </script>   --}}

    <div class="delivery">
        <h1>Food & Delivary Address</h1>
        <form action="/delivery" method="POST">

            <p>Food Name :</p>
            <input type="text" name="food" placeholder="Food to be ordered">
            <p>Transaction Id :</p>
            <input type="text" name="transactionid" placeholder="Transaction Id">
            <p>Phone :</p>
            <input type="text" name="phone" placeholder="Phone">
            <p>Email :</p>
            <input type="text" name="email" placeholder="Email">
            <p>State : </p>
            <input type="text" name="state" placeholder="State">
            <p>District : </p>
            <input type="text" name="district" placeholder="District">
            <p>Address : </p>
            <input type="text" name="address" placeholder="Address">
            <p>Pincode : </p>
            <input type="text" name="pincode" placeholder="Pincode">
            <p><a href="https://forms.gle/98RaAvdJd5Q1cbCk7" target="_blank">Upload Payment Screenshot</a></p>
            <p><input type="text" name="screenshot" placeholder="Type YES after screenshot uploaded"></p>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>