<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    *{
        padding:0;
        margin:0;
        font-family: cursive;
        {{!-- font-family: sans-serif; --}}
    }

    body{
        background-image: url("./Images/background2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .notify{
        position: absolute;
        margin-left: 37vw;
        margin-right: 20vw;
        margin-top: 8vw;
        {{!-- position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%); --}}
    }

    .notify h1{
        font-size: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    .notify p{
        font-size:1.3rem;
        margin-top: 0.7rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
    .notify input{
        font-size: 1rem;
        padding: 0.8rem 0.7vw;
        width: 100%;
        border:0;
        border-radius:0.8rem;
        outline:none
    }

    .notify button{
        font-size: 1.2rem;
        font-weight: bold;
        margin:1.2rem 0;
        padding :0.5rem 1rem;
        width: 30%;
        border-radius: 1rem;
        border: 0;
        font-family: 'Monoton', cursive;
    }

    .notify button:hover{
        background-color: rgb(0, 255, 8);
    }

    a{
        text-decoration: none;
    }
    
    a:hover{
        color: black;
    }

    </style>
</head>
<body>

    <div class="notify">
        <h1>Absent Status</h1>
        <form action="/notify" method="POST">
        
            {{!-- <p>First Name :</p>
            <input type="text" name="firstname" placeholder="First Name">
            <p>Last Name :</p>
            <input type="text" name="lastname" placeholder="Last Name">
            <p>Phone :</p>
            <input type="text" name="phone" placeholder="Phone"> --}}
            <p>Email :</p>
            <input type="text" name="email" placeholder="Email">
            {{!-- <p>Mess Id :</p>
            <input type="text" name="messid" placeholder="Mess Id"> --}}
            <p><a href="https://forms.gle/qEGxCVdYK6QvwVjGA" target="_blank">Fill Form</a></p>
            <button type="submit">Submit</button>
            
        </form>
    </div>

</body>
</html>