<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Registration Form</h1>
        <form action="/register" method="POST">
            <div>
                <p>First Name :</p>
                <input type="text" name="firstname" placeholder="First Name">
            </div>
            <div>
                <p>Last Name :</p>
                <input type="text" name="lastname" placeholder="Last Name">
            </div>
            <div>
                <p>Phone :</p>
                <input type="text" name="phone" placeholder="Phone">
            </div>
            <div>
                <p>Email :</p>
                <input type="text" name="email" placeholder="Email">
            </div>
            <div>
                <p>Password :</p>
                <input type="text" name="password" placeholder="Password">
            </div>
            <div>
                <p>Confirm Passwod</p>
                <input type="text" name="confirmpassword" placeholder="Confirm Password">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>